<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.harshapps.codetogether.logging">
    <Appenders>
        <!-- Console for INFO, DEBUG, TRACE (No WARN, ERROR) -->
        <Console name="InfoConsole" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="timestamp: %d{yyyy-MM-dd HH:mm:ss} Infoooooo [%t] %highlight{%-5level} %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="{'message':'%m', 'timestamp':'%d{ISO8601}', 'level':'%p', 'logger':'%c', 'line':'%l'}%n"/>
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>

        <!-- Console for ERROR and FATAL logs -->
        <Console name="ErrorConsole" target="SYSTEM_ERR">
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} Errrrrrr [%t] %highlight{%-5level}{red} %logger{36} - %msg %ex{full}%n"/>-->
            <PatternLayout pattern="{'message':'%m', 'timestamp':'%d{ISO8601}', 'level':'%p', 'logger':'%c', 'line':'%l', 'error':'%ex{full}'}%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Appender name="LogStream">
            <PatternLayout pattern="{'message':'%m', 'timestamp':'%d{ISO8601}', 'level':'%p', 'logger':'%c', 'line':'%l'}%n"/>
        </Appender>
    </Appenders>



    <Loggers>
        <Root level="info">
            <AppenderRef ref="InfoConsole"/>
            <AppenderRef ref="ErrorConsole"/>
            <AppenderRef ref="LogStream"/>
        </Root>
    </Loggers>

</Configuration>
