<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quill Collaborative Editor</title>
    <link th:href="@{/libs/quill/quill.snow.css}" rel="stylesheet">
</head>
<body>
<div id="toolbar">
    <button id="connectButton">Connect</button>
    <input id="socketName" placeholder="Enter Socket Name" />
</div>
<div id="editor"></div>
<script th:src="@{/libs/quill/quill.js}"></script>
<script src="script.js"></script>
</body>
</html>
